<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <title>
        <%= ride.id %>
    </title>
</head>

<body>
    <h1>ID vožnje : <%= ride.id %>
    </h1>
    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Vrijeme polaska</th>
            <th>Vrijeme dolaska</th>
            <th>Cijena karte</th>
            <th>Broj vlaka</th>
        <tr>
            <td>
                <%= ride.id %>
            </td>
            <td>
                <%= ride.departure %>
            </td>
            <td>
                <%= ride.arrival %>
            </td>
            <td>
                <%= ride.ticketPrice %>
            </td>
            <td>
                <%= ride.train %>
            </td>
            <td><a href="/ride/<%= ride.id %>/edit" class="edit-link">Uredi</a>
            </td>
        </tr>
    </table>
    <h1>Detail table - karte</h1>
    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Razred</th>
            <th>Ime i prezime putnika</th>
        </tr>
        <% tickets.forEach((ticket)=> { %>
            <tr>
                <td>
                    <%= ticket.id %>
                </td>
                <td>
                    <%= ticket.class %>
                </td>
                <td>
                    <%= ticket.passengerFullName %>
                </td>
                <td><a href="/ticket/<%= ticket.id %>/edit" class="edit-link">Uredi</a>
                </td>
            </tr>
            <% }) %>
    </table>
    <h1>Add a New Ticket</h1>
    <form action="/ticket" method="post">
        <input type="hidden" name="ride-id" value="<%= ride.id %>">

        <label for="class">Razred:</label>
        <input type="number" name="class" min="1" max="3" value="1" required>

        <label for="discount">Popust:</label>
        <input type="number" name="discount" min="0" max="100" step="10" value="0" required>

        <label for="passenger">Putnik:</label>
        <select name="passenger" required>
            <% passengers.forEach((passenger)=> { %>
                <option value="<%= passenger.id %>">
                    <%= passenger.name %>
                        <%= passenger.surname %>
                </option>
                <% }) %>
        </select>

        <input type="submit" value="Dodaj">
    </form>
</body>

</html>